.optionRow{
	margin-top:20px;
	padding-top:10px;
	border-top:1px solid $grey3;
}
.changeCurrency{
	margin-top:20px;
	padding-top:10px;
	border-top:1px solid $blue1;
	text-align:right;
	img{vertical-align:middle;}
}