.uc1a{
	.product2, .child, .add-on{display:none;}
}
.uc1b{
	.product2, .add-on{display:none;}
}
.uc1c{
	.product2, .child{display:none;}
}
.uc1d{
	.product2{display:none;}
}

.uc2a{
	.child, .add-on{display:none;}
}
.uc2b{
	.add-on{display:none;}
}
.uc2c{
	.child{display:none;}
}
.uc2d{
	
}