body{
	margin:0;padding:0;
	font-family: $font-primary;
}
a{color:$blue2;}
.content{padding-left:10px;padding-right:10px;}

// 4 section layouts

#contentWrapper{
	margin-top:30px;width:1650px;
	> div > div{
		float:left;
		margin-right:12px;
		section{
			border:1px solid $grey4;
		}
	}
}
#panel_desktop{
	width:350px;
	padding:15px 15px 50px 15px;
}
#panel_phone{
	width:290px;
	padding:15px 15px 50px 15px;
}
#cart_desktop{
	width:508px;
	padding:15px 20px 50px 20px;
}
#cart_phone{
	width:320px;
	padding:15px 10px 50px 10px;
}

@mixin clearfix {
}

.clearfix:after {
    content:".";
    display:block;
    clear:both;
    visibility:hidden;
    line-height:0;
    height:0;
}

.clearfix {
    display:block;
}

html[xmlns] .clearfix {
    display:block;
}

* html .clearfix {
    height:1%;
}